*.o
*.exe
c-cpp/wrap-enum
c-cpp/genran
c-cpp/memmov
c-cpp/refofarr
c-cpp/t
c-cpp/objincon
c-cpp/cpp_basics1
c-cpp/iobasic
c-cpp/nohup.out
acc_cpp/fmtprt
acc_cpp/genran
c-cpp/map_basic1
acc_cpp/genran
acc_cpp/practice1
acc_cpp/wrap-enum
c-cpp/findinmap
c-cpp/nrand
